@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Libre+Barcode+39&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    background-image: url(bg.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid black;
}
.card_section{
    width: 700px;
    height: 400px;
    border: 1px solid rgb(0, 255, 110);
    display: inline-flex;
    justify-content: center;
    align-items: center;

}

.details{
    width: 400px;
    height: 95%;
    border: 1px solid rgb(17, 0, 255);
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.details input{
    width: 90%;
    height: 30px;
    margin: 5px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    font-size: 1.2em;
    background: transparent;
}
.details label{
    width: 90%;
}
button{
    width: 80%;
    height: 30px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.2s;
}
button:hover{
    background-color: rgb(65, 65, 65);
}
.print{
    width: 300px;
    height: 95%;
    border: 1px solid rgb(255, 0, 0);
    margin: 5px;
}